//backgrounds
$primary-bg: #1D2631;
$top-bg: #000000;
$nav-bg: #283645;
$nav-item-bg: #283645;
$burger-bg: #FFFFFF;
$content-bg: #F2F2F2;
$content-pagination-bg: #283645;
$content-reviews-bg: #FFFFFF;

//backgrounds-conditions
$top-active-bg: #283645;
$btn-active-bg: #FFFFFF;
$btn-hover-bg: #FFFFFF;
$nav-current-bg: #FFFFFF;
$burger-hover-bg: #D22856;
$content-pagination-current: #FFFFFF;

//сolors
$primary-color: #FFFFFF;
$logo-mobile-color: #FFFFFF;
$logo-tablet-color: #FFFFFF;
$logo-desktop-color: #FFFFFF;
$btn-color: #FFFFFF;
$apple-icon-color: #FFFFFF;
$android-icon-color: #A4C639;
$nav-link-color: #FFFFFF;
$content-color: #000000;
$content-txt-color: #283645;

//сolors-conditions
$btn-active-color: #D22856;
$btn-hover-color: #D22856;
$nav-hover-color: #D22856;
$nav-active-color: #FFFFFF;
$logo-hover-color: #D22856;

// colors-borders and shadows
$nav-shadow: #000000;
$nav-inner-shadow: #FFFFFF;
$btn-border: #FFFFFF;

//devices
$mobile: 330px;
$tablet: 660px;
$desktop: 1024px;

//fonts
$font-variables: 'Open Sans', 'Arial', 'Helvetica', sans-serif;