.content {
    color: $content-color;
    @include font(14px, 24px, 400);
    overflow: hidden;
}

.content__intro {
    padding-top: 46px;
}

.content__intro-txt {
    color: $content-txt-color;
    text-align: center;
    @include font(24px, 29px, 300);

    @include media($tablet) {
        @include font(40px, 54px, 300);
    }

    @include media($desktop) {
        @include font(50px, 68px, 300);
    }
}

.content__intro-br {
    display: block;

    @include media($tablet) {
        display: inline;
    }
}

.content__advantages-container {
    position: relative;
    // ограничение глубины z-оси (z-index) контейнером родителя
    isolation: isolate;
}

.content__advantages-container::before {
    content: "";
    position: absolute;
    top: 50px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: $content-bg;
    transform: skewY(-5deg);
    z-index: -2;

    @include media($tablet) {
        top: 140px;
    }

    @include media($desktop) {
        top: 165px;
    }
}

.content__advantages-container::after {
    content: "";
    position: absolute;
    top: 350px;
    left: 0;
    bottom: 0;
    width: 100%;
    // height - auto по умолчанию
    background-color: $content-bg;
    z-index: -2;
}

.content__advantages {
    z-index: -1;
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include media($tablet) {
        flex-direction: row;
        margin-top: -80px;
    }

    @include media($desktop) {
        flex-direction: column;
        padding-bottom: 85px;
        margin-top: -60px;
    }
}

.content__advantages-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    @include media($desktop) {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }
}

.content__advantages-item {
    @include media($desktop) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.content__pic {
    display: none;

    @include media($desktop) {
        display: block;
        margin: 0 auto;
        width: 186px;
        height: 382px;
        z-index: -1;
    }
}

.content__txt-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include media($tablet) {
        align-items: flex-start;
    }

    @include media($desktop) {
        position: relative;
        max-width: 300px;
        background-color: $content-advantages-bg;
        padding-top: 50px;
        margin-top: -80px;
        align-items: center;
    }
}

@media (min-width:$desktop) {
    .content__txt-wrap::before {
        content: "";
        position: absolute;
        top: -7px;
        left: 0;
        width: 300px;
        height: 17px;
        border-radius: 50%;
        background-image:
            linear-gradient(90deg, rgba($content-advantages-gradient, 0) 0%,
                $content-advantages-gradient 49.8%,
                rgba($content-advantages-gradient, 0) 93.23%);
        opacity: 0.3;
        z-index: -1;
    }
}

.content__advantages-title {
    @include font(18px, 24px, 700);
    padding-bottom: 14px;

    @include media($desktop) {
        @include font(30px, 30px, 700);
        text-align: center;
        padding-bottom: 25px;
    }
}

.content__advantages-txt {
    color: $content-txt-color;
    text-align: center;
    padding-bottom: 30px;

    @include media($tablet) {
        text-align: left;
    }

    @include media($desktop) {
        @include font(18px, 30px, 400);
        text-align: center;
        width: 252px;
    }
}

.content__img {
    width: 157px;
    height: 320px;

    @include media($tablet) {
        order: -1;
        width: 268px;
        height: 547px;
        margin-right: 42px;
    }

    @include media($desktop) {
        display: none;
    }
}

@media (min-width:$desktop) {
    .content__info-container {
        background-color: $content-info-desktop;
    }
}

.content__info {
    display: none;

    @include media($tablet) {
        display: flex;
        justify-content: center;
        background-color: $content-info-bg;
        margin-top: -65px;
        padding-top: 54px;
        isolation: isolate;
    }

    @include media($desktop) {
        background-color: $content-info-desktop;
        padding-top: 17px;
        padding-bottom: 67px;
    }
}

.content__info-pic {
    margin-right: 72px;
    width: 238px;
    height: 276px;

    @include media($desktop) {
        width: 298px;
        height: 345px;
    }
}

.content__info-wrap {
    padding-top: 40px;

    @include media($desktop) {
        padding-top: 100px;
    }
}

.content__info-title {
    display: block;
    @include font(30px, 36px, 700);
    padding-bottom: 14px;
    max-width: 168px;

    @include media($desktop) {
        line-height: 30px;
        max-width: 100%;
    }
}

.content__info-txt {
    padding-bottom: 14px;

    @include media($desktop) {
        @include font(18px, 30px, 400);
        width: 534px;
    }
}

.content__info-link {
    color: $content-info-link;

    @include media($desktop) {
        @include font(18px, 30px, 400);
    }
}

.content__reviews {
    margin-top: -43px;
    padding-bottom: 20px;

    @include media($tablet) {
        margin-top: 0;
        padding-top: 100px;
    }

    @include media($desktop) {
        padding-top: 183px;
        position: relative;
        max-width: 940px;
    }
}

.content__reviews-info {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    isolation: isolate;
}

.content__reviews-info::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: $content-reviews-bg;
    z-index: -1;
    margin-right: -20px;
    margin-left: -20px;
}

@media (min-width:$desktop) {
    .content__reviews-info::after {
        content: "";
        position: absolute;
        top: -50%;
        left: 50%;
        width: 79px;
        height: 63px;
        transform: translateX(-50%);
        background: url("../img/icons/quotes.png") no-repaet top left/cover;
    }
}

.content__reviews-title {
    display: block;
    @include font(18px, 30px, 700);
    padding-top: 40px;
    padding-bottom: 15px;

    @include media($tablet) {
        font-size: 20px;
        padding-bottom: 0;
    }

    @include media($desktop) {
        font-size: 24px;
    }
}

.content__reviews-subtitle {
    display: none;

    @include media($tablet) {
        display: block;
        @include font(14px, 30px, 400);
        color: $content-txt-color;
        padding-bottom: 30px;
    }

    @include media($desktop) {
        font-size: 18px;
        padding-bottom: 70px;
    }
}

.content__reviews-txt {
    line-height: 30px;
    text-align: center;
    color: $content-txt-color;
    padding-bottom: 25px;

    @include media($tablet) {
        @include font(18px, 30px, 400);
        order: -1;
        padding-bottom: 0;
    }

    @include media($desktop) {
        max-width: 688px;
    }
}

.content__price-container {
    position: relative;
    isolation: isolate;
    padding-bottom: 45px;

    @include media($tablet) {
        padding-bottom: 25px;
    }

    @include media($desktop) {
        padding-bottom: 50px;
    }
}

.content__price-container::before {
    content: "";
    position: absolute;
    top: 20px;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 550px;
    background-color: $content-bg;
    transform: skewY(-3deg);
    z-index: -1;

    @include media($tablet) {
        top: 10px;
    }

    @include media($desktop) {
        top: -10px;
    }
}

.content__price {
    padding-top: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // появляется скролл
    overflow-x: auto;


    @include media($tablet) {
        padding-top: 90px;
    }
}

.content__slider-wrap {
    padding-top: 45px;
}

@media (min-width:$tablet) {
    .content__slider-wrap .slider {
        display: none;
    }
}