.content {
    color: $content-color;
    @include font(14px, 24px, 400);
    overflow: hidden;
}

.content__intro {
    padding-top: 46px;
    padding-bottom: 100px;
}

.content__intro-txt1,
.content__intro-txt2 {
    color: $content-txt-color;
    text-align: center;
    @include font(24px, 29px, 300);

    @include media($tablet) {
        @include font(40px, 54px, 300);
    }

    @include media($desktop) {
        @include font(50px, 68px, 300);
    }
}

.content__intro-txt2 {
    padding-top: 18px;

    @include media($tablet) {
        padding-top: 0;
    }
}

.content__advantages {
    position: relative;
    z-index: -1;
    padding-top: 10px;
}

.content__advantages::before {
    content: "";
    position: absolute;
    top: -90px;
    left: 0;
    bottom: 0;
    width: 1200px;
    background-color: $content-bg;
    transform: skewY(-5deg);
    z-index: -1;

    @include media($tablet) {
        top: -65px;
    }
}

.content__advantages-list {
    display: flex;
    flex-direction: column;

    @include media($tablet) {
        display: grid;
        grid-template-columns: 1fr 310px;
        margin-top: -70px;
    }
}

.content__advantages-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content__advantages-item:first-child {
    @include media($tablet) {
        grid-column: 2/3;
        grid-row: 1/2;
        padding-top: 70px;
    }
}

.content__advantages-item:nth-child(2) {
    @include media($tablet) {
        grid-column: 2/3;
        grid-row: 2/3;
    }
}

.content__advantages-item:last-child {
    @include media($tablet) {
        display: grid;
        grid-template-columns: 1fr 310px;
        grid-template-rows: 213px 75px 259px;
        grid-column: 1/3;
        grid-row: 1/4;
    }
}

.content__desktop-pic1 {
    display: none;
}

.content__desktop-pic2 {
    display: none;
}

.content__mobile-pic {
    width: 157px;
    height: 320px;
    order: 1;

    @include media($tablet) {
        width: 268px;
        height: 547px;
        margin-right: 42px;
        grid-column: 1/2;
        grid-row: 1/4;
    }
}

.content__txt-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include media($tablet) {
        align-items: flex-start;
        grid-row: 3/4;
    }
}

.content__advantages-title {
    @include font(18px, 24px, 700);
    padding-bottom: 24px;

    @include media($tablet) {
        padding-bottom: 14px;
    }
}

.content__advantages-txt {
    color: $content-txt-color;
    text-align: center;
    padding-bottom: 43px;

    @include media($tablet) {
        text-align: left;
        padding-bottom: 35px;
    }
}

.content__info {
    display: none;

    @include media($tablet) {
        display: flex;
        background-color: #FFFFFF;
        margin-top: -65px;
        padding-top: 54px;
    }
}

.content__info-pic {
    margin-right: 72px;
}

.content__info-wrap {
    padding-top: 40px;
}

.content__info-title {
    display: block;
    @include font(30px, 36px, 700);
    padding-bottom: 14px;
}

.content__info-txt {
    padding-bottom: 14px;
}

.content__info-link {
    color: #D22856;
}

.content__reviews {
    margin-top: -43px;
    padding-bottom: 20px;

    @include media($tablet) {
        margin-top: 0;
        padding-top: 100px;
    }
}

.content__reviews-info {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content__reviews-info::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: $content-reviews-bg;
    z-index: -1;
    margin-right: -20px;
    margin-left: -20px;
}

.content__reviews-title {
    display: block;
    @include font(18px, 30px, 700);
    padding-top: 40px;
    padding-bottom: 15px;

    @include media($tablet) {
        font-size: 20px;
        padding-bottom: 0;
    }
}


.content__reviews-subtitle {
    display: none;

    @include media($tablet) {
        display: block;
        @include font(14px, 30px, 400);
        color: $content-txt-color;
        padding-bottom: 35px;
    }
}

.content__reviews-txt {
    line-height: 30px;
    text-align: center;
    color: $content-txt-color;
    padding-bottom: 30px;

    @include media($tablet) {
        @include font(18px, 30px, 400);
        order: -1;
        padding-bottom: 0;
    }
}

.content__price {
    position: relative;
    padding-top: 85px;
    padding-top: 110px;
}

.content__price::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 1214px;
    height: 550px;
    background-color: $content-bg;
    transform: skewY(-3deg);
    z-index: -1;
}