.header {
    color: #FFFFFF;
    @include font(18px, 24px, 300);
    background: url("../../img/back_mobile.jpg") no-repeat top center;

    @include media($tablet) {
        background: url("../../img/back_tablet.jpg") no-repeat top center/cover;
    }

    @include media($desktop) {
        background: url("../../img/back_desktop.jpg") no-repeat top center/cover;
    }

    background-color: $bg;
}

.header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 0 20px;    
}

.header__intro {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include media($tablet) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

.header__slogan {
    @include font(24px, 29px, 300);
    text-align: center;
    padding-top: 29px;

    @include media($tablet) {
        @include font(40px, 48px, 300);
        padding-top: 102px;
        padding-bottom: 51px;
    }

    @include media($desktop) {
        @include font(50px, 68px, 300);
        padding-top: 114px;
    }
}

.header__pic {
    padding-top: 34px;
    padding-bottom: 28px;

    @include media($tablet) {
        grid-column: 2/3;
        grid-row: 1/5;
    }
}

.header__btn {
    width: 280px;
    padding: 15px 39px;
    color: #FFFFFF;
    text-align: center;
    @include font(18px, 18px, 700);
    text-decoration: none;
    border: 3px solid #FFFFFF;
    border-radius: 29px;
    margin-bottom: 38px;

    @include media($tablet) {
        width: 300px;
        padding: 15px 49px;
        margin: 0 auto;
        margin-bottom: 67px;
    }

    @include media($desktop) {
        width: 300px;
        font-size: 21px;        
        padding: 16px 32px;
        margin-bottom: 46px;
    }
}

.header__download-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    margin-bottom: 28px;

    @include media($tablet) {
        margin-bottom: 38px;
    }

    @include media($desktop) {
        margin-bottom: 58px;
    }
}

.header__download-item {
}

.header__download-link {}

.header__apple-icon {
    color: #FFFFFF;
}

.header__android-icon {
    color: #A4C639;
}

.header__microsoft-icon {}

.header__download-txt {
    @include font(14px, 24px, 300); 
    text-align: center;
    padding-bottom: 38px;

    @include media($tablet) {
        @include font(18px, 24px, 300); 
        padding-bottom: 119px;
    }
}