.header {
    color: $primary-color;
    @include font(18px, 24px, 300);
    overflow: hidden;

    @include media($tablet) {
        background: $primary-bg url("../img/back_tablet.jpg") no-repeat top center/cover;
    }

    @include media($desktop) {
        background: $primary-bg url("../img/back_desktop.jpg") no-repeat top center/cover;
    }
}

.header__top {
    list-style-type: none;
    background-color: rgba($top-bg, 0.3);
    position: relative;
    z-index: 1;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__top._active {
    background-color: $top-active-bg;
    box-shadow:
        0 0 0 1px $nav-shadow,
        inset 0 0 0 1px rgba($nav-inner-shadow, 0.15);
}

.header__intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
    background-color: $primary-bg;

    @include media($tablet) {
        display: grid;
        grid-template-columns: 300px 1fr;
        align-items: flex-end;
        padding-left: 20px;
        padding-right: 20px;
        background-color: transparent;
    }
}

.header__decor {
    background: url("../img/back_mobile.jpg") no-repeat top center/cover;
    width: 100%;
    margin-top: -66px;
    margin-bottom: 28px;
    padding-top: 66px;

    @include media($mobile) {
        background: url("../img/back_tablet.jpg") no-repeat top center/cover;
    }

    @include media($tablet) {
        background: transparent;
        margin-top: -110px;
        margin-bottom: 0;
        padding-top: 184px;
        grid-column: 1/2;
        grid-row: 1/6;
        display: grid;
        grid-template-columns: 300px 1fr;
    }

    @include media($desktop) {
        background: transparent;
        padding-top: 208px;
    }
}

.header__slogan {
    @include font(24px, 29px, 300);
    text-align: center;
    padding-top: 23px;
    padding-bottom: 29px;

    @include media($tablet) {
        @include font(40px, 48px, 300);
        grid-column: 1/2;
        grid-row: 1/2;
    }

    @include media($desktop) {
        @include font(50px, 68px, 300);
        padding-top: 0;
    }
}

.header__pic {
    @include media($tablet) {
        grid-column: 1/3;
        grid-row: 1/6;
    }
}

.header__pic-mobile {
    display: block;
    width: 320px;
    height: 286px;
    margin: 0 auto;

    @include media($tablet) {
        width: 660px;
        height: 545px;
    }

    @include media($desktop) {
        width: 1050px;
        height: 645px;
    }
}

.header__btn {
    width: 280px;
    padding: 15px;
    color: $btn-color;
    text-align: center;
    @include font(18px, 18px, 700);
    text-decoration: none;
    border: 3px solid $btn-border;
    border-radius: 29px;
    margin-bottom: 32px;

    @include media($tablet) {
        width: 300px;
        margin-bottom: 46px;
        grid-column: 1/2;
        grid-row: 3/4;
    }

    @include media($desktop) {
        width: 300px;
        font-size: 21px;
        margin-bottom: 67px;
    }
}

.header__btn:active {
    color: rgba($btn-active-color, 0.3);
    background-color: $btn-active-bg;
}

@media (min-width: $desktop) {
    .header__btn:hover {
        color: $btn-hover-color;
        background-color: $btn-hover-bg;
    }
}

.header__download-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 35px;
    margin-bottom: 28px;

    @include media($tablet) {      
        grid-column: 1/2;
        grid-row: 4/5;
    }

    @include media($desktop) {
        margin-bottom: 42px;
    }
}

.header__download-link,
.header__apple-icon,
.header__android-icon,
.header__microsoft-icon {
    display: block;
}

.header__apple-icon {
    color: $apple-icon-color;
}

.header__android-icon {
    color: $android-icon-color;
}

.header__download-txt {
    @include font(14px, 24px, 300);
    text-align: center;
    padding-bottom: 38px;
    max-width: 280px;

    @include media($tablet) {
        @include font(18px, 24px, 300);
        max-width: 300px;
        padding-bottom: 119px;
        grid-column: 1/2;
        grid-row: 5/6;
    }

    @include media($desktop) {
        padding-bottom: 130px;
    }
}