.logo {
    padding-top: 19px;
    padding-bottom: 19px;

    @include media($tablet) {
        padding-top: 27px;
        padding-bottom: 43px;
    }

    @include media($desktop) {
        margin-right: 170px;
    }
}

.logo__icon-mobile {
    color: #FFFFFF;

    @include media($tablet) {
        display: none;
    }

    @include media($desktop) {
        display: none;
    }
}

.logo__icon-tablet {
    display: none;

    @include media($tablet) {
        display: block;
        color: #FFFFFF;
    }

    @include media($desktop) {
        display: none;
    }
}

.logo__icon-desktop {
    display: none;

    @include media($tablet) {
        display: none;
    }

    @include media($desktop) {
        display: block;
        color: #FFFFFF;
    }
}