.logo {
    padding-top: 22px;
    padding-bottom: 21px;

    @include media($tablet) {
        padding-top: 27px;
        padding-bottom: 43px;
    }

    @include media($desktop) {
        margin-right: 50px;
    }
}

.logo__icon-mobile {
    color: $logo-mobile-color;
    display: block;

    @include media($tablet) {
        display: none;
    }

    @include media($desktop) {
        display: none;
    }
}

.logo__icon-mobile:active {
    color: rgba(255, 255, 255, 0.3); 
}

.logo__icon-tablet {
    display: none;

    @include media($tablet) {
        display: block;
        color: $logo-tablet-color;
    }

    @include media($desktop) {
        display: none;
    }
}

.logo__icon-tablet:active {
    color: rgba(255, 255, 255, 0.3); 
}

.logo__icon-desktop {
    display: none;

    @include media($tablet) {
        display: none;
    }

    @include media($desktop) {
        display: block;
        color: $logo-desktop-color;
    }
}

.logo__icon-desktop:active {
    color: rgba(255, 255, 255, 0.3); 
}

@media (min-width: $desktop) {
    .logo__icon-desktop:hover {
        color: $logo-hover-color; 
    }
}