.nav {
    position: fixed;
    top: 69px;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: #283645;
    transform: translateX(100%);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease, transform 0.2s ease;
    overflow-y: auto;

    @include media($tablet) {
        top: 100px;
    }

    @include media($desktop) {
        position: static;
        display: block;
        flex-grow: 1;   
        transform: translateX(0);   
        opacity: 1; 
        background-color: transparent;
    }
}

.nav._active {
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
}

.nav__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style-type: none;

    @include media($desktop) {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 60px;
    }
}

.nav__item {
    background-color: #283645;
    box-shadow:
        0px 1px 0px #000000,
        inset 0px 1px 0px rgba(255, 255, 255, 0.15);

    @include media($desktop) {
        padding-top: 26px;
        padding-bottom: 26px;
        background-color: transparent;
        box-shadow: none;        
    }
}

.nav__link {
    display: block;
    padding: 15px;
    color: #FFFFFF;
    @include font(18px, 32px, 700);
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;

    @include media($desktop) {
        @include font(18px, 18px, 400);
        text-transform: capitalize;
    }
}

@media (min-width: $desktop) {
    .nav__link {
        position: relative;
    }

    .nav__link:hover {
        color: #D22856; 
    }

    .nav__link_current::before {
        content: "";
        position: absolute;
        background-color: #FFFFFF;
        height: 2px;
        right: 15px;
        left: 15px;
        bottom: -4px;
    }
}